*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;    
}

.banner-image{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/teams1.png);
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}

.main {
    position: relative;
    width: 300px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}
  
.main:hover .overlay {
    opacity: 1;
}
  
.text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.grid-layout{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-template-rows: minmax(200px, auto);
    justify-content: center;
    gap: 1em;
    width: 80%;
    margin: 0 auto;
    padding: 20px;  
}


.bg-info.bg-info { 
    background-color: #3c40b0 !important; 
}

.main{
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
